a:link {color:#800000;}
a:visited {color:#000080;}
a:hover {color:#800000;}
a:active {color:#cbd8ee;}
.Wp-Contents-2nd-P
{
    margin:0.0px 0.0px 0.0px 23.0px; text-align:left; font-weight:400;
}
.Wp-Heading-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400;
}
.Wp-Heading-3-P
{
    margin:21.0px 0.0px 5.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Heading-Box-P
{
    margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400;
}
.Wp-Index-Main-P
{
    margin:0.0px 0.0px 0.0px 24.0px; text-align:left; font-weight:400;
}